<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">
              Save recipe
            </button>
            <button type="button" class="btn btn-warning" (click)="onCancel()">
              Cancel
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="recipeName">Recipe name</label>
              <input type="text" id="recipeName" class="form-control" formControlName="recipeName">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="recipeDesc">Recipe description</label>
              <textarea id="recipeDesc" class="form-control" rows="6" formControlName="recipeDesc"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Recipe image URL</label>
              <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img [src]="imagePath.value" alt="Recipe image" class="img-responsive">
          </div>
        </div>
        <hr>
        <h3>Recipe ingredients</h3>
        <div class="row">
          <div class="col-xs-12" formArrayName="ingredients">
            <div class="row"
                 *ngFor="let ingredientCtrl of recipeForm.get('ingredients').value; let i = index; trackBy:trackByFn"
                 [formGroupName]="i"
                  style="margin-bottom: 10px">
              <div class="col-xs-8">
                <input type="text"
                       id="ingredientName"
                       class="form-control"
                       formControlName="name">
              </div>
              <div class="col-xs-2">
                <input type="number"
                       id="ingredientAmount"
                       class="form-control"
                       formControlName="amount">
              </div>
              <div class="col-xs-2">
                <button type="button"
                        class="btn btn-danger"
                        (click)="onDeleteRecipeIngredient(i)">X</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-success" (click)="onAddRecipeIngredient()">Add ingredient</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
</div>
